<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI based analyzer for Fitness Enthusiasts </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <nav>
        <h2> <span>Nutrition</span> Image Analysis</h2>
        <ul>
            <li class="page-selected"><a href="/">Home</a></li>
            <li><a href="/image">Classify</a></li>
        </ul>
    </nav>
    <main id="home-main">
        <p>
            Food is essential for human life and has been the concern of many heathcare conventions. Nowadays new dietary assessment and 
            nutrition analysis tools enable more oppurtunitites to help people understand their daily eating habits, exploring nutrition
            patterns and maintain a healthy diet. Nutritional analysis is the process of determining the nutritional content of food. It is 
            a vital part of analytical chemistry that provides information about the chemical composition, processing, quality control and 
            contaimination of food. It ensures compliance with trade and food laws.
        </p>
    </main>
</body>
</html>